# Data Frame, List

## Data frame Object

-  list object를 여러 개의 Table 형태로 합해놓았다.
- 데이터 분석 시 가장 많이 사용되는 데이터 구조이다.
- rbind(), cbind()보다 훨씬 편하다.

In [1]:
(vX1 <- c(TRUE,FALSE,TRUE))  # ()안에 전체를 넣으면, 바로 값 추출

[1]  TRUE FALSE  TRUE

In [2]:
(vX2 <- rnorm(3))  #정규 분포에서 랜덤하게 3개만 추출

[1] -0.4222295 -1.8346653  1.7211260

In [7]:
dDataFrame <- data.frame(logic=vX1, value=vX2)  

data.class(dDataFrame) #java기반 패키지가 사용되는 경우
mode(dDataFrame)       # c기반 패키지가 사용되는 경우

[1] "data.frame"

[1] "list"

Data frame 생성 시 row의 개수가 불일치 시

- 3개,2개,2개에서는 생성 불가능

In [ ]:
lidftest_loop <-data.frame(position=c("top","down","top"), vale=c(2,4), tf=c(T,F))

- 3개,1개,1개에서는 생성 가능

In [ ]:
lidftest_loop <-data.frame(position=c("top","down","top"), vale=c(2), tf=c(T))

### Data frame Object 읽기

In [10]:
#dDataFrame[행번호,"열이름"]
dDataFrame[1,"logic"]

#dDAtaFrame$속성명 ($뒤에는 ""필요없음.)
dDataFrame$logic
dDataFrame$value


#drop=F 조건을 주면, 원형 그대로의 값을 가져온다.
dDataFrame[,"logic",drop=F]

[1] TRUE

[1]  TRUE FALSE  TRUE

[1] -0.4222295 -1.8346653  1.7211260

  logic
1  TRUE
2 FALSE
3  TRUE

#### Data Frame 로딩

In [13]:
# 한열만 추출시, 벡터로 가져옴
data(mtcars)  #로딩
dCAr <- mtcars #복사
str(dCAr) #데이터 확인 - 습관 들이자!
vcar6 <- dCAr[,6] #한열만 추출
is.vector(vcar6)


mtvec<-mtcars$mpg  #한열만 추출
is.vector(mtvec)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

[1] TRUE

[1] TRUE

In [12]:
# 2열 추출시, 데이터프레임으로 가져옴.
dwightdf <- dCAr[,c(6,4)] #2열 추출
data.class(dwightdf)      #data frame으로 가져옴

[1] "data.frame"

In [14]:
#[[]]는 추추한 결과를 vector object로 하고자 할 때
dCar<-mtcars
vWeight <- dCar[["wt"]]
data.class(vWeight)
is.vector(vWeight)

vWeightdo <-dCar[[6]]
is.vector(vWeightdo)

[1] "numeric"

[1] TRUE

[1] TRUE

In [ ]:
# 2개 이상의 값을 추출할 때 [[]]는 에러 발생 - vector가 아니므로
vWeightcomb2 <- dCAr[[c("wt","hp")]] #error
vWeightcomb2 <- dCAr[c("wt","hp")]
data.class(vWeightcomb2)  #data.frame으로 나옴.

#### 데이터 프레임 삭제

- 행

In [16]:
data(mtcars)
#한개 열 삭제
dCar <- mtcars 
wWeightdoNE <-dCar[[-6]]  #error
wWeightdoNE <-dCar[-6]    #6번째 열이 삭제

# 두개 이상의 열 삭제
dCar <- mtcars 
wWeightdoNE <-dCar[,-c(2:4)]    #2~4번째 열이 삭제

ERROR: Error in .subset2(x, i, exact = exact): attempt to select more than one element in get1index <real>

- 열

In [17]:
#한 개의 레코드 삭제
dCar <- mtcars 
wWeightdoNE <-dCar[-1,]    #1번째 행이 삭제
head(wWeightdoNE, n = 3)   #head함수로 1~3번째 행 확인


#두 개 이상의 레코드 삭제
dCar <- mtcars 
wWeightdoNE <-dCar[-c(5:15),]    #1번째 행이 삭제

logic으로 삭제

In [18]:

(df_del <- data.frame(x=c(1,2,3,4,5),
                      y=c("a","b","c","d","e")))
df_del[c(TRUE, FALSE, TRUE, FALSE, TRUE),] #FALSE는 삭제, TURE는 출력

  x y
1 1 a
2 2 b
3 3 c
4 4 d
5 5 e

  x y
1 1 a
3 3 c
5 5 e

조건부삭제

In [19]:

#x열의 값이 짝수인 행추출
(df_del <- data.frame(x=c(1,2,3,4,5),
                      y=c("a","b","c","d","e")))

df_del[df_del$x %% 2 ==0,] #   x열의 값을 2로 나누었을 때, TRUE인 것만 추출 (%% - 나누기) 
# same = df_del[df_del[,"x"] %% 2 ==0,]

  x y
1 1 a
2 2 b
3 3 c
4 4 d
5 5 e

  x y
2 2 b
4 4 d

  x y
2 2 b
4 4 d

#### 데이터 프레임수정

Mazda RX4의 mpg값 21을 10로 수정!

In [66]:
dCar<-mtcars
head(dCAr, n=3)

dCar[1,1] <- 10 #1,1에 10을 넣어라
head(dCar, n=3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     10.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

데이터셋명["행이름", "열이름"] <- 변경할 값

In [23]:
dCar["Mazda RX4","mpg"] <- 22

row 추가

In [67]:
dCar<-mtcars
head(dCAr, n=3)

dCar["New car",1] <- 20

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

##### 차의 무게가 5보다 큰 차량을 추출

In [25]:
dCar<-mtcars
head(dCAr, n=5)

FiveCar <- dCar[mtcars$wt>5,]

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

##### 차의 무게가 평균보다 큰 차량을 추출

In [26]:
dCar<-mtcars
head(dCAr, n=5)

MeanCar <- dCar[dCar$wt > mean(dCar$wt),]   #평균은 3.21725
length(MeanCar$mpg) # 16개차가  평균 3.21725 보다 크다

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

[1] 16

##### 차의 무게가 5보다 크면서 am열의 값이 0인 행 추출

In [27]:
dCar<-mtcars
head(dCAr, n=5)

FiveamCar <- dCar[dCar$wt>5 & dCar$am == 0 ,]
length(FiveamCar$mpg)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

[1] 3

#### %in% 을 사용하여 조건 추출하기

In [28]:
(d<- data.frame(a=1:3, b=4:6, c=7:9))

d[,names(d)%in% c("b","c")] 
#   기준영역  %in%  조건
# 열의 이름에 b,c가 들어간 컬럼을 추출

d[,colnames(d)%in%c("b","c")]
d[,rownames(d)%in%c("1","2")]

  a b c
1 1 4 7
2 2 5 8
3 3 6 9

  b c
1 4 7
2 5 8
3 6 9

  b c
1 4 7
2 5 8
3 6 9

  a b
1 1 4
2 2 5
3 3 6

In [30]:
# 열의 이름에 "a" 문자가 들어가지 않은(!) 컬럼을 추출
d[,!names(d)%in% "a"]

  b c
1 4 7
2 5 8
3 6 9

### 정리 및 연습

In [32]:
#추출하고 object확인 필요
data("mtcars")
str(mtcars)

dCar <- mtcars

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [33]:
#하나의 속성을 행으로 추출 한 경우 object가 data.frame이 된다.
dWeight <- dCar[6]
data.class(dWeight)

[1] "data.frame"

In [34]:
#여러 개 속성을 추출해서 저장한 후에 object가 data.frame이 된다.
dWeight <- dCAr[c("wt","hp")]
data.class(dWeight)

[1] "data.frame"

In [35]:
# $로 접근해서 추출한 후에 object 확인 - vector
mtvec <- mtcars$mpg
data.class(mtvec)
is.vector(mtvec)

[1] "numeric"

[1] TRUE

In [39]:
#vector로 데이터 추출 [[  ]], [  ]로 하면 데이터 프레임
# 아래 3개 모두 동일한 결과 - vector
b <- mtcars[[6]]
b <- mtcars$wt
b <- mtcars[["wt"]]

is.vector(b)

 [1] 2.620 2.875 2.320 3.215 3.440 3.460 3.570 3.190 3.150 3.440 3.440 4.070
[13] 3.730 3.780 5.250 5.424 5.345 2.200 1.615 1.835 2.465 3.520 3.435 3.840
[25] 3.845 1.935 2.140 1.513 3.170 2.770 3.570 2.780

 [1] 2.620 2.875 2.320 3.215 3.440 3.460 3.570 3.190 3.150 3.440 3.440 4.070
[13] 3.730 3.780 5.250 5.424 5.345 2.200 1.615 1.835 2.465 3.520 3.435 3.840
[25] 3.845 1.935 2.140 1.513 3.170 2.770 3.570 2.780

[1] TRUE

#### Practice

In [40]:
#두 번째 열의 평균보다 두 번째 열의 값이 큰 행만 추출하시오.
davi <- data.frame(a=1:3, b=4:6, c=7:9, d=10:12)
davi[davi$b>mean(davi$b),]

  a b c d
3 3 6 9 12

# List Object

- 종이 한 장씩 포개놓은 것과 같은 object 
- 비정형 데이터를 저장하기에 용이
- 회귀함수 lm  -   출력된 결과는 리스트로!

In [42]:
dCar<- mtcars

abc <- lm(dCar$hp~dCar$wt)
abc

Call:
lm(formula = dCar$hp ~ dCar$wt)

Coefficients:
(Intercept)      dCar$wt
     -1.821       46.160

In [43]:
#### list object 생성
ISales <- list("홍길동", 8, c(1500,3000,2500,3000))
ISales #3개의 종이에 홍길동, 8 ,c()를 넣었다.

#홍길동 추출
ISales[[1]]

#세 번째 성분의 첫 번째 엘리먼트를 추출
ISales[[3]][1]

[[1]]
[1] "홍길동"

[[2]]
[1] 8

[[3]]
[1] 1500 3000 2500 3000

[1] "홍길동"

[1] 1500

In [45]:
#list 성분에 이름붙이기
ISales2 <- list(Name="홍길동", Count=8, Price =c(1500,3000,2500,3000))
ISales2

$Name
[1] "홍길동"

$Count
[1] 8

$Price
[1] 1500 3000 2500 3000

In [46]:
#name으로 항목 읽기
ISales2$Name

[1] "홍길동"

#### 리스트 내의 항목을 읽기

In [47]:
#리스트는 성분에 리스트와 벡터로 접근할 수 있다.
a<-1:10
b<-11:20

list_camp_element <- list(vector1=a, vector2=b, descrip="List-example")

list_camp_element$vector1
list_camp_element$vector2
list_camp_element$descrip

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 11 12 13 14 15 16 17 18 19 20

[1] "List-example"

In [48]:
#두 번째 성분의 5번째 원소
list_camp_element[[2]][5]

[1] 15

In [49]:
#vector2의 2,3번째 원소
list_camp_element[[2]][c(2,3)]

[1] 12 13

In [50]:
length(list_camp_element)

[1] 3

In [54]:
#리스트의 각 성분에 이름부여는 names() 함수
Lex <- list(c("Ab","Bo","Ca","Deb"),c("Weight","Waist"))
names(Lex)

#Lex에 이름을 지정!
names(Lex) <- c("Rows", "Columns")
Lex

NULL

$Rows
[1] "Ab"  "Bo"  "Ca"  "Deb"

$Columns
[1] "Weight" "Waist"

In [55]:
#List의 속성명 읽기와 변경 : names()함수
ISales <- list(Name="홍길동", Price =c(1500,3000,2500,3000))
names(ISales)

names(ISales) <- c("KoreanName","SalePrice")
ISales

[1] "Name"  "Price"

$KoreanName
[1] "홍길동"

$SalePrice
[1] 1500 3000 2500 3000

#### 삭제하기

In [56]:
ISales2 <- list(Name="홍길동", Count=8, Price =c(1500,3000,2500,3000))

ISales2[[2]] # Name은 Count
ISales2$Count

ISales2[2]<-NULL # Count를 삭제하라
ISales2 #삭제완료

[1] 8

[1] 8

$Name
[1] "홍길동"

$Price
[1] 1500 3000 2500 3000

#### 원소의 삭제

In [58]:
# list 생성
mat1 <- matrix(1:4, nrow=2)

list1 <- list("A", 1:8, mat1)
list1

[[1]]
[1] "A"

[[2]]
[1] 1 2 3 4 5 6 7 8

[[3]]
     [,1] [,2]
[1,]    1    3
[2,]    2    4

In [60]:
# 2번째 성분의 5번째 원소삭제
list1[[2]][5]
list1[[2]][-5] #1 2 3 4 6 7 8

list1[[2]] <- list1[[2]][-5]
list1

[1] 6

[1] 1 2 3 4 7 8

[[1]]
[1] "A"

[[2]]
[1] 1 2 3 4 7 8

[[3]]
     [,1] [,2]
[1,]    1    3
[2,]    2    4

#### 리스트 object에 데이터 추가하기

In [61]:
li <- list(c("top","down"),c(2,4,6),c(T,F,T))

# 네 번째 성분으로 1:3값 추가
li[[4]] <- c(1:3)
li

[[1]]
[1] "top"  "down"

[[2]]
[1] 2 4 6

[[3]]
[1]  TRUE FALSE  TRUE

[[4]]
[1] 1 2 3

In [64]:
# list안에 새로운 list 넣기
li[[5]]<-list(c(1:3)) 
li

[[1]]
[1] "top"  "down"

[[2]]
[1] 2 4 6

[[3]]
[1]  TRUE FALSE  TRUE

[[4]]
[1] 1 2 3

[[5]]
[[5]][[1]]
[1] 1 2 3

In [65]:
# list안에 list 원소 불러오기.
li[[5]][[1]][2] # 2

[1] 2