### sqldf

- sqldf()함수 사용
- select 컬럼명 from 데이터셋 where 조건

In [3]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Warning message:
“no DISPLAY variable so Tk is not available”Loading required package: RSQLite

In [4]:
sqldf("select * from iris") #iris에서 모든 컬럼을 다 가져와라

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [6]:
sqldf("select * from iris limit 10") 

#행을 10개만 가져와라

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [7]:
sqldf("select count(*) from iris where Species like 'se%'")

# 개수를 세어라 / iris에서  /  Species열이 'se'로 시작하는

  count(*)
1 50

### plyr

In [8]:
library(plyr)

In [9]:
set.seed(1)

In [13]:
d <- data.frame(year=rep(2000:2002, each=6), count = round(runif(9,0,20)))
d
#runif(생성할 난수의 개수, 최소값, 최대값)

   year count
1  2000  1
2  2000  4
3  2000  4
4  2000 14
5  2000  8
6  2000 15
7  2001 10
8  2001 14
9  2001 20
10 2001  1
11 2001  4
12 2001  4
13 2002 14
14 2002  8
15 2002 15
16 2002 10
17 2002 14
18 2002 20

In [14]:
?ddply
ddply(d, "year", function(x) {  
    mean.count <- mean(x$count)
    sd.count <- sd(x$count)
    cv<-sd.count/mean.count
    data.frame(cy.count=cv)
    
})

  year cy.count
1 2000 0.7500473
2 2001 0.8176584
3 2002 0.3098741

##### summarize, transform함수

###### summarise
- 해당 변수에 명령된 평균이나 합 등을 계산해주고, 새롱 생긴 변수만 보여준다.

In [15]:
ddply(d, "year", summarise, mean.count= mean(count))

  year mean.count
1 2000  7.666667
2 2001  8.833333
3 2002 13.500000

###### transform
- summarise와 다르게 계산에 사용된 변수도 출력해준다.

In [16]:
ddply(d, "year", transform, total.count= sum(count))

   year count total.count
1  2000  1    46
2  2000  4    46
3  2000  4    46
4  2000 14    46
5  2000  8    46
6  2000 15    46
7  2001 10    53
8  2001 14    53
9  2001 20    53
10 2001  1    53
11 2001  4    53
12 2001  4    53
13 2002 14    81
14 2002  8    81
15 2002 15    81
16 2002 10    81
17 2002 14    81
18 2002 20    81

### 데이터 테이블
- 용량이 많은 파일을 빠르게 처리한다.

In [17]:
install.packages("data.table")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [21]:
library(data.table)

In [22]:
DT = data.table(x=c("b","b","b","a","a"), v=rnorm(5))

In [28]:
DT[2,]

  x v
1 b 1.511781

In [26]:
DT[DT$x=="b",]

  x v
1 b -0.3053884
2 b  1.5117812
3 b  0.3898432

In [30]:
data(cars)
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [32]:
CARS <- data.table(cars)

In [33]:
head(CARS)  #콜롬이 추가됨!

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [34]:
tables()  #지금까지 작업한 data table을 요약해준다.

     NAME NROW NCOL MB COLS       KEY
[1,] CARS   50    2  1 speed,dist
[2,] DT      5    2  1 x,v
Total: 2MB

In [43]:
setkey(DT,x)

In [44]:
tables()  #setkey로 DT에 x라는 key가 들어갔다.

     NAME NROW NCOL MB COLS       KEY
[1,] CARS   50    2  1 speed,dist
[2,] DT      5    2  1 x,v        x
Total: 2MB

In [45]:
DT["b",] #DataFrame[커럼명 =="b",] /  setkey를 정해주면, dataframe처럼 쓸 수 있다.

  x v
1 b -0.3053884
2 b  0.3898432
3 b  1.5117812