##  데이터셋 merge

In [3]:
install.packages("sqldf")

also installing the dependencies ‘gsubfn’, ‘chron’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

### (1)SQL 사용 inner join
- CustomerID가 공통으로 존재하는 열만 추출하여 merge

In [8]:
library(sqldf)
df_1 = data.frame(CustomerId = c(1:6), Product = c(rep("Toaster", 3), rep("Radio", 3)))
df_1

df_2 = data.frame(CustomerId = c(2, 4, 6), State = c(rep("Alabama", 2), rep("Ohio", 1)))
df_2

df3 <- sqldf("SELECT CustomerId, Product, State
FROM df_1
JOIN df_2 USING(CustomerId)")

  CustomerId Product
1 1          Toaster
2 2          Toaster
3 3          Toaster
4 4          Radio
5 5          Radio
6 6          Radio

  CustomerId State
1 2          Alabama
2 4          Alabama
3 6          Ohio

  CustomerId Product State
1 2          Toaster Alabama
2 4          Radio   Alabama
3 6          Radio   Ohio

In [9]:
df3

  CustomerId Product State
1 2          Toaster Alabama
2 4          Radio   Alabama
3 6          Radio   Ohio

### (2) 두 데이터 셋에 있는 값모두 나타나게 두데이터셋 합하기

In [11]:
df1 = data.frame(CustomerId = c(1:6), Product = c(rep("Toaster", 3), rep("Radio", 3)))
df1

df2 = data.frame(CustomerId = c(2L, 4L, 7L), State = c(rep("Alabama", 2), rep("Ohio", 1)))
df2
 

library(data.table)

dt1 = as.data.table(df1)
dt2 = as.data.table(df2)

  CustomerId Product
1 1          Toaster
2 2          Toaster
3 3          Toaster
4 4          Radio
5 5          Radio
6 6          Radio

  CustomerId State
1 2          Alabama
2 4          Alabama
3 7          Ohio

In [10]:
dt3 <- merge(dt1, dt2, by = "CustomerId", all = TRUE)
dt3

  CustomerId Product State
1 1          Toaster NA
2 2          Toaster Alabama
3 3          Toaster NA
4 4          Radio   Alabama
5 5          Radio   NA
6 6          Radio   NA
7 7          NA      Ohio