## 사용자 정의함수

### 1. 피보나치

In [1]:
fibo <- function(n){
    if(n==1|| n==2){
        return(1)
    }
    return(fibo(n-1) + fibo(n-2))
}

In [2]:
fibo(1)

[1] 1

In [3]:
fibo(10)

[1] 55

### 2. 계속 더하는 예제

In [7]:
addto=function(a){
    isum=0
    for(i in 1:a){
        isum=isum+i
        print(isum)
    }
    print(isum)
}

In [8]:
addto(50)

[1] 1
[1] 3
[1] 6
[1] 10
[1] 15
[1] 21
[1] 28
[1] 36
[1] 45
[1] 55
[1] 66
[1] 78
[1] 91
[1] 105
[1] 120
[1] 136
[1] 153
[1] 171
[1] 190
[1] 210
[1] 231
[1] 253
[1] 276
[1] 300
[1] 325
[1] 351
[1] 378
[1] 406
[1] 435
[1] 465
[1] 496
[1] 528
[1] 561
[1] 595
[1] 630
[1] 666
[1] 703
[1] 741
[1] 780
[1] 820
[1] 861
[1] 903
[1] 946
[1] 990
[1] 1035
[1] 1081
[1] 1128
[1] 1176
[1] 1225
[1] 1275
[1] 1275

### 3. 1부터 n까지의 합 출력하기

In [45]:
for2 <- function(x){
    i <- 0
    for(j in 1:x){
        i <-i+j
    
    }
    print (i)
}

In [47]:
for2(50)

[1] 1275

1부터 10까지 합 출력하기

In [65]:
a<-1
sum.a <- 0

repeat{
    if(a>0 & a<10){
        sum.a = sum.a + a
        a = a+1
    }
    else {
        break
    }
    }

In [67]:
sum.a

[1] 45

### 4.switch

In [59]:
centre = function(x, type) {
    switch(type,
        mean = mean(x), 
        median = median(x),
        trimmed = mean(x, trim=0.05)
    )
}

In [60]:
# 표준정규분포에서 10개의 난수를 생성
x = rnorm(n=10, mean=0, sd=1)

switch 함수 이용해서 결과도출

In [61]:
centre(x, "mean")

[1] 0.3372379

In [62]:
centre(x, "median")

[1] 0.5645875

In [63]:
centre(x, "trimmed")

[1] 0.3372379

### 5. 구구단 출력

In [37]:
gugu <- matrix(0,nrow=9, ncol=9)

In [38]:
for (i in 1:9) {
    for (j in 1:9) {
       gugu[i,j] <- i*j
    }
}

gugu

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
 [1,] 1     2    3    4    5    6    7    8    9
 [2,] 2     4    6    8   10   12   14   16   18
 [3,] 3     6    9   12   15   18   21   24   27
 [4,] 4     8   12   16   20   24   28   32   36
 [5,] 5    10   15   20   25   30   35   40   45
 [6,] 6    12   18   24   30   36   42   48   54
 [7,] 7    14   21   28   35   42   49   56   63
 [8,] 8    16   24   32   40   48   56   64   72
 [9,] 9    18   27   36   45   54   63   72   81